* {
    box-sizing: border-box;
  }
    body {
      font-family: 'Poppins', sans-serif;
    }
  html, body {
    overflow-x: hidden;
  }
    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: gray;
      position: relative;
      cursor: pointer;
    }
  
    .dot-active {
      background: rgba(219, 68, 68, 1);
    }
        .outer {
          width: clamp(50px, 10vw, 80px);
          height: clamp(50px, 10vw, 80px);
        }
    
        .inner {
          width: clamp(35px, 7vw, 55px);
          height: clamp(35px, 7vw, 55px);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }