* {
    box-sizing: border-box;
  }
    body {
      font-family: 'Poppins', sans-serif;
    }
  html, body {
    overflow-x: hidden;
  }
.dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: gray;
      position: relative;
      cursor: pointer;
    
    }
  
.dot-active {
    background: rgba(219, 68, 68, 1);
    
  }
.outer {
   width: clamp(50px, 10vw, 80px);
  height: clamp(50px, 10vw, 80px);
      
}
    
.inner {
  width: clamp(35px, 7vw, 55px);
  height: clamp(35px, 7vw, 55px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
        
}

.scrollbar-hide {
  -ms-overflow-style: none;
   scrollbar-width: none;
                
  }
        
.scrollbar-hide::-webkit-scrollbar 
{
  display: none;                   
}

#profileDropdown {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.2s ease-out;
                  }
                  
 @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
        }
                  
  to {
    opacity: 1;
    transform: translateY(0);
      }
                   
    }
                  
#profileDropdown a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;    
}               